body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(110, 42, 192);
    color: rgb(65, 33, 226);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d0/Background-clouds.jpg);
}

a {
    color: rgb(183, 171, 3);
}

a:visited {
    color: azure;
    font-size: 300px;
}

img {
    display: block;
    border: solid white 3px;
    padding: 4px;
    margin: auto;
    /*centers image (with block display)*/
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}
.smallimg{
    width: 25%;
}
h6 {
    border: dashed rgb(233, 89, 18) 3px;
    text-align: center;
}

.riz {
    font-family: 'Comic Sans', 'Chiller';
    color: silver;
    font-size: xx-large;
    font-style: italic;
    border: 3px rgb(4, 255, 0) dotted;
    background-color: rgb(215, 24, 180);
}

.riz:hover {
    text-decoration: line-through;
    font-size: 300%;
    background-color: black;
    border: solid fuchsia 10px;
}
.yeet {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: rgb(114, 39, 39);
    border: 3px solid white;
    text-align: center;
    font-family: Georgia;
  }